<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}

    {% load staticfiles %}
  <title>Sign Up</title>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <style>
      .navbar-toggle{
        float:left; !important
        }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/myapp.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/newstyle.css' %}"/>
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  <a class="navbar-brand" href="/app/index">Ayush Pank</a>
    </div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav" >
      <li class="active"><a href="/app/index">Home</a></li>
      <li><a href="/app/login">Login</a></li>
      <li><a href="/app/register">Register</a></li>
      <li><a href="/app/contact_us">Contacts</a></li>
    </ul>
  </div>
</div>
</nav>

{% block body %}



{% endblock %}

<footer class="footer-area" id="iletisim">
        <div class="container">

                 <div class="row">
               <div class="col-md-12">
                  <div class="p-header">
                   <h2>Welcome to My First App on Django</h2>
                   </div>
                  </div>
              </div>

           <div class="row">
             <div class="col-md-6">
                <div class="footer-left">
                  <h2><i class="fa fa-user" aria-hidden="true"></i>Ayush Pant</h2>
                    <h5><i class="fa fa-phone" aria-hidden="true"></i>9599937273</h5>

                     <adress>
                         <p><i class="fa fa-map-marker" aria-hidden="true"></i>B-65 Sector 63 Noida , 262001</p>
</adress>

                    <ul>
                        <li> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>

                 </div>
               </div>

                <div class="col-md-6">
                <div class="footer-right">
                     <div class="row">
                     <div class="harita">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1105.0995008195569!2d29.727107722754656!3d40.43739642642853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbulut+in%C5%9Faat+iznik!5e0!3m2!1str!2str!4v1513941507106" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                     </div>
                     </div>



                 </div>
               </div>

            </div>
            <section class="alt-kisim">
                <div class="row">

                            <div class="copy">
                                 <a title="A Django App" href="www.ayushpantpp.wordpress.com"> © 2018 Ayush Pant.</a>
                             </div>

                    </div>
                </section>

          </div>

      </footer>

</body>
</html>