{% extends 'app/base.html' %}
{% block title %}
    <title>INDEX PAGE</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="well">All Albums <button type="button" class="btn align-right"><a href="/app/add_new_album">Add New Album</a></button></h1>
        {% if all_albums %}
        <div class="row">

        {% for album in all_albums %}
         <div class="col-sm-3">

            <div class="panel-group">
                 <div class="panel panel-default">
                    <div class="panel-heading"><a href="/app/{{ album.id }}"><img src="https://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="200" height="200"></a></div>
                    <div class="panel-body">Name: {{ album.album_title }} </div>
                    <div class="panel-body">Artist: {{ album.gerne }} </div>
                    <div class="panel-body">No of Songs: {{ album.song_set.count }} </div>
                    <div class="panel-body"><a href="/app/delete_album/{{ album.id }}">Delete</a></div>
                </div>

            </div>
        </div>
        {% endfor %}
            </div>

            {% endif %}
        </div>
{% endblock %}

